@import url('https://fonts.googleapis.com/css?family=Alegreya|Zilla+Slab');

@import url('https://fonts.googleapis.com/css?family=El+Messiri:400,500,600,700|Ubuntu:300,400,500');

@font-face {
    font-family: 'el_sancho_ranchoregular';
    src: url('elsanchorancho-webfont.woff2') format('woff2'),
         url('elsanchorancho-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.contact h1 {
  font-family: 'Alegreya', serif;
 font-size: 2em;
 background-color: #677B64;
}
.events h1 {
  font-family: 'Alegreya', serif;
  color: white; font-size: 2em;
  background-color: #B9792E;
}

.contact p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em; line-height: .75em;
}
.events p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em; line-height: 1.15em;
}
.contact div {
  background-color: #D9C5B0;
}
.events div {
  background-color: #EFE4CC;
}
.events div {
  background-color: #DBB281;
}

/* MENU SECTION */
.menu {
  background-image: url("../images/vintage-concrete.png");
}
.menu_container {
  overflow: hidden;
  height: auto;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-top: 2px solid rgb(237,140,30);
  border-left: 2px solid rgb(237,140,30);
  border-right: 2px solid rgb(237,140,30);
  background-image: url('../images/wov.png');
}
.menu_container ul {
  list-style: none;
}
.menu_item {
  padding: 0;
  margin-left: 0;
  height: auto;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 3em;
  border-bottom: 2px dotted rgb(237,140,30);
}
.item_name {
  font-family: 'El Messiri', sans-serif;
  color: rgb(45,45,46);
  margin-left: 0.5em;
  float: left;
  font-size: 1.5em;
  margin-bottom: 0;
}
.item_desc {
  font-family: 'Ubuntu', sans-serif;
  color: rgb(49,103,103);
  margin-left: 0.5em;
  padding-left: 5px;
  clear: left;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1em;
}
.price {
  font-family: 'El Messiri', sans-serif;
  color: rgb(45, 45, 46);
  margin-right: 0.5em;
  float: right;
  font-size: 1.1em;
  padding-top: 5px;
}
.menu_title {
  font-family: 'el_sancho_ranchoregular';
}
ul {
  margin: 0;
}
#appetizers, #main, #fish, #soup, #lunch, #burgers {
  text-align: center;
  font-family: 'el_sancho_ranchoregular';
  font-size: 2em;
  border-bottom-width: 15px;
  border-bottom-style: double;
  border-bottom-color: rgb(217,197,176);
}


/* About Us Page */
.aboutus {
  background-image: url("satinweave");
}

.about_header {
  text-align: center;
  font-family: 'latiniaBlack';
}

.about {
  text-align: center;
  font-family: 'latinia';
   font-size: 1.2em;
}
