@import url('https://fonts.googleapis.com/css?family=Alegreya|Zilla+Slab');

.contact h1 {
  font-family: 'Alegreya', serif;
 font-size: 2em;
<<<<<<< HEAD
 background-color: #ED8C1E;
=======
 background-color: #677B64;
>>>>>>> b5d985f1f1cbcc2d4953d7a0b4d02c7a7cb158e8
}
.events h1 {
  font-family: 'Alegreya', serif;
  color: white; font-size: 2em;
<<<<<<< HEAD
  background-color: #316767;
=======
  background-color: #B9792E;
>>>>>>> b5d985f1f1cbcc2d4953d7a0b4d02c7a7cb158e8
}

.contact p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em; line-height: .75em;
}
.events p {
  font-family: 'Zilla Slab', serif;
  font-size: 1.25em; line-height: 1.15em;
}
.contact div {
<<<<<<< HEAD
  background-color: #D9C5B0;
}
.events div {
  background-color: #FCF3CF;
=======
  background-color: #EFE4CC;
}
.events div {
  background-color: #DBB281;
>>>>>>> b5d985f1f1cbcc2d4953d7a0b4d02c7a7cb158e8
}

/* MENU SECTION */
@font-face { /* HEADLINE FONT temp*/
    font-family: 'elsancho';
    src: url('elsanchorancho-webfont.woff2') format('woff2'),
         url('elsanchorancho-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.menu_container {
  overflow: hidden;
  height: auto;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-top: 2px solid rgb(237,140,30);
  border-left: 2px solid rgb(237,140,30);
  border-right: 2px solid rgb(237,140,30);
}
.menu_container ul {
  list-style: none;
}
.menu_item {
  padding: 0;
  margin-left: 0;
  height: auto;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  min-height: 3em;
  border-bottom: 1px solid rgb(237,140,30);
}
.item_name {
  margin-left: 0.5em;
  float: left;
  font-size: 1.5em;

}
.price {
  margin-right: 0.5em;
  float: right;
  font-size: 1.6em;

}
.item_desc {
  margin-left: 0.5em;
  clear: left;
  font-size: 1.2em;
}


/* Lunch Menu */


.lunch_container{
  border-top: 2px solid rgb(178,61,20);
  border-bottom: 2px solid rgb(178,61,20);
  border-left: 2px solid rgb(178,61,20);
  border-right: 2px solid rgb(178,61,20);
  padding: .5em;
  margin-right: .5em;
}

.lunch_price{
  text-align: right;
}

.fooddescription{
  color: rgb(178,41,37)
}
